---
export interface Props {
	image: string;
	href: string;
}

const { href, image } = Astro.props;
---

<div class="">
	<a href={href}>
		<img class="logoImage" src={image} />
	</a>
</div>
<style>

.logoImage {
	width: 150px;
	height: 150px;
	margin: 0%;
}

</style>
